@import url("https://fonts.googleapis.com/css2?family=Poiret+One&display=swap");

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
}

body {
  font-family: "Poiret One", cursive;
  background-color: #1a1a1a;
  color: white;
}

header,
footer {
  background-color: rgba(0, 0, 0, 0.5);
  padding: 1em;
  text-align: center;
}

h1,
h2,
h3 {
  text-shadow: 3px 3px 12px rgba(0, 0, 0, 1);
  margin: 0;
}

nav a {
  color: white;
  text-decoration: none;
  padding: 0.5em 1em;
  margin: 0 0.5em;
  border-radius: 5px;
  background-color: rgba(255, 255, 255, 0.1);
  transition: background-color 0.3s ease;
}

nav a:hover {
  background-color: rgba(255, 255, 255, 0.2);
}

main {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2em;
  overflow-y: auto;
}

.artists-section {
  width: 100%;
  max-width: 1000px;
}

.artists-category {
  margin-bottom: 2em;
}

.artists-list {
  list-style-type: none;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.artist {
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 10px;
  padding: 1em;
  margin-bottom: 1em;
  width: calc(50% - 1em);
  box-sizing: border-box;
}

.artist h3 {
  margin-top: 0;
}

a {
  color: #00c8ff;
  text-decoration: none;
}

a:visited {
  color: #d4a5ff;
}

a:hover {
  text-decoration: underline;
}

footer {
  font-size: 0.8em;
}

@media (max-width: 768px) {
  .artist {
    width: 100%;
  }
}
